.flixxit-container {
  background-color: black;
}

.hero {
  position: relative;
}

.hero .background-image {
  filter: brightness(60%);
}

.hero img {
  height: 100vh;
  width: 100vw;
}

.hero .container {
  position: absolute;
  bottom: 5rem;
}

.hero .container .logo img {
  width: 100%;
  height: 100%;
  margin-left: 5rem;
}

.hero .container .buttons {
  margin: 5rem;
  gap: 2rem;
  display: flex;
}

.hero .container .buttons button {
  font-size: 1.4rem;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container .buttons button:hover {
  opacity: 0.8;
}

.hero .container .buttons button:nth-of-type(2) {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.hero .container .buttons button:nth-of-type(2) svg {
  font-size: 1.8rem;
}
